@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&family=Roboto+Slab:wght@100&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GENERAL */
body {
  background-color: black;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Darker Grotesque', sans-serif;
  font: white;
}

p {
  font: white;
}

/* BUTTON   */
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
